.displayPanelTitle {
    fontSize: 16;
    fontWeight: bold;
    color: #330099;
}

.paddedBox {
   paddingLeft: 20;
   paddingTop: 20;
   paddingBottom: 20;
   paddingRight: 20;
}

.visualViewTitle {
    fontSize: 16;
    fontWeight: bold;
    color: #ff0000;
}


/*
       Styles defined above this comment are used by Visual FlexUnit's GUI.
       
       Styles below are provided as examples of the sort of font embedding code that you may
       want to include in this file. It's important to embed fonts if you want your visual 
       components to be visually identical across platforms.
       
       And, obviously, you can also style your visual components in other ways as desired.


@font-face {
    src: url("skinning/fonts/Tahoma.swf");
    font-family: "Tahoma";
    font-weight: normal;
}

@font-face {
    src: url("skinning/fonts/Tahoma.swf");
    font-family: "Tahoma";
    font-weight: bold;
}

global {
    font-family: "Tahoma";
    letter-spacing: 0.5;
}

*/
