.displayPanelTitle {
    fontSize: 16;
    fontWeight: bold;
    color: #330099;
}

.paddedBox {
   paddingLeft: 20;
   paddingTop: 20;
   paddingBottom: 20;
   paddingRight: 20;
}

.visualViewTitle {
    fontSize: 16;
    fontWeight: bold;
    color: #ff0000;
}

@font-face {
    src: url("skinning/fonts/Tahoma.swf");
    font-family: "Tahoma";
    font-weight: normal;
}

@font-face {
    src: url("skinning/fonts/Tahoma.swf");
    font-family: "Tahoma";
    font-weight: bold;
}

global {
    font-family: "Tahoma";
    letter-spacing: 0.5;
}
